<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <div class="container-fluid">
      <div class="row">
        <%- include('../partials/sidebar'); %>

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 pt-3 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Edit History Data</h1>
          </div>

          <form method="POST" action="/history/update">
            <div class="mb-3">
              <label class="form-label">Game Id</label>
              <input
                type="number"
                name="gameId"
                min="1"
                class="form-control"
                value="<%= history.GameId %>"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Score</label>
              <input
                type="number"
                name="score"
                min="10"
                max="100"
                class="form-control"
                value="<%= history.score %>"
              />
            </div>

            <div class="mb-3">
              <input
                type="hidden"
                name="id"
                min="1"
                class="form-control"
                value="<%= history.id %>"
              />
            </div>

            <button type="submit" class="btn btn-success">Saved</button>
          </form>
        </main>
      </div>
    </div>

    <%- include('../partials/script'); %>
  </body>
</html>